@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  line-height: 138.5%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 66.0625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  font-family: "Raleway";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 14px 30px;
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  border-radius: 5px;
  background-color: #EC5863;
  text-transform: uppercase;
}

.button._fw {
  width: 100%;
}

.button--blue {
  background: #4285F4;
}

.content-label__button .button {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.content-label__button._active .button {
  -webkit-transition: 0.8s ease 0.2s;
  -o-transition: 0.8s ease 0.2s;
  transition: 0.8s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.content-label__title {
  font-weight: 700;
  line-height: 126%;
  color: #000000;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
}

@supports (font-size: clamp( 1.875rem , 1.5099413299rem  +  1.8252933507vw , 2.75rem )) {
  .content-label__title {
    font-size: clamp( 1.875rem , 1.5099413299rem  +  1.8252933507vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.5099413299rem  +  1.8252933507vw , 2.75rem )) {
  .content-label__title {
    font-size: calc(1.875rem + 0.875 * (100vw - 20rem) / 47.9375);
  }
}

.content-label__title span {
  color: #4285F4;
}

.content-label__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.content-label__title._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.content-label__text {
  letter-spacing: 0.08em;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
}

.content-label__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.content-label__text._active {
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.content-label .content-label--red {
  color: #EC5863;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  -webkit-transform: translate(0, 40%);
      -ms-transform: translate(0, 40%);
          transform: translate(0, 40%);
  opacity: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header._active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.header._header-scroll {
  background-color: #ffffffea;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (min-height: clamp( 4.375rem , 3.2015971317rem  +  5.8670143416vw , 7.1875rem )) {
  .header__container {
    min-height: clamp( 4.375rem , 3.2015971317rem  +  5.8670143416vw , 7.1875rem );
  }
}

@supports not (min-height: clamp( 4.375rem , 3.2015971317rem  +  5.8670143416vw , 7.1875rem )) {
  .header__container {
    min-height: calc(4.375rem + 2.8125 * (100vw - 20rem) / 47.9375);
  }
}

._header-scroll .header__container {
  min-height: 4.375rem;
}

.header__logo {
  position: relative;
  z-index: 11;
}

@supports (margin-right: clamp( 0.625rem , -0.6787809648rem  +  6.518904824vw , 3.75rem )) {
  .header__logo {
    margin-right: clamp( 0.625rem , -0.6787809648rem  +  6.518904824vw , 3.75rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -0.6787809648rem  +  6.518904824vw , 3.75rem )) {
  .header__logo {
    margin-right: calc(0.625rem + 3.125 * (100vw - 20rem) / 47.9375);
  }
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 10;
}

@supports (width: clamp( 0.625rem , -5.6852998696rem  +  31.5514993481vw , 15.75rem )) {
  .header__button {
    width: clamp( 0.625rem , -5.6852998696rem  +  31.5514993481vw , 15.75rem );
  }
}

@supports not (width: clamp( 0.625rem , -5.6852998696rem  +  31.5514993481vw , 15.75rem )) {
  .header__button {
    width: calc(0.625rem + 15.125 * (100vw - 20rem) / 47.9375);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #000000;
  position: relative;
  z-index: 10;
}

@supports (margin-right: clamp( 0.3125rem , -0.6001466754rem  +  4.5632333768vw , 2.5rem )) {
  .menu__link {
    margin-right: clamp( 0.3125rem , -0.6001466754rem  +  4.5632333768vw , 2.5rem );
  }
}

@supports not (margin-right: clamp( 0.3125rem , -0.6001466754rem  +  4.5632333768vw , 2.5rem )) {
  .menu__link {
    margin-right: calc(0.3125rem + 2.1875 * (100vw - 20rem) / 47.9375);
  }
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.1316003911rem  +  5.3455019557vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , -0.1316003911rem  +  5.3455019557vw , 3.5rem ))) {
  .footer__container {
    -webkit-column-gap: clamp( 0.9375rem , -0.1316003911rem  +  5.3455019557vw , 3.5rem );
       -moz-column-gap: clamp( 0.9375rem , -0.1316003911rem  +  5.3455019557vw , 3.5rem );
            column-gap: clamp( 0.9375rem , -0.1316003911rem  +  5.3455019557vw , 3.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.1316003911rem  +  5.3455019557vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , -0.1316003911rem  +  5.3455019557vw , 3.5rem ))) {
  .footer__container {
    -webkit-column-gap: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 47.9375);
       -moz-column-gap: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 47.9375);
            column-gap: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 47.9375);
  }
}

.get-started {
  background: #FAFBFD;
}

.get-started__container {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 6.875rem , 5.8319752282rem  +  5.2151238592vw , 9.375rem )) {
  .get-started__container {
    padding-top: clamp( 6.875rem , 5.8319752282rem  +  5.2151238592vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 6.875rem , 5.8319752282rem  +  5.2151238592vw , 9.375rem )) {
  .get-started__container {
    padding-top: calc(6.875rem + 2.5 * (100vw - 20rem) / 47.9375);
  }
}

.get-started__container::before {
  content: "";
  background: #EC5863;
  border-radius: 30px 0px 0px 30px;
  top: 0;
  width: 100vw;
  position: absolute;
  height: 100%;
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}

@supports (right: clamp( 4.6875rem , 0.1242666232rem  +  22.816166884vw , 15.625rem )) {
  .get-started__container::before {
    right: clamp( 4.6875rem , 0.1242666232rem  +  22.816166884vw , 15.625rem );
  }
}

@supports not (right: clamp( 4.6875rem , 0.1242666232rem  +  22.816166884vw , 15.625rem )) {
  .get-started__container::before {
    right: calc(4.6875rem + 10.9375 * (100vw - 20rem) / 47.9375);
  }
}

.get-started__image {
  position: relative;
  z-index: 2;
}

.get-started__image._active img {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.get-started__image img {
  width: 100%;
  opacity: 0;
  -webkit-transform: translate(0, 40%);
      -ms-transform: translate(0, 40%);
          transform: translate(0, 40%);
}

.get-started__content {
  z-index: 2;
  position: relative;
}

.video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 2;
  position: relative;
}

.video__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  text-align: start;
}

.video__title {
  font-size: 0.8125rem;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}

.video__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.video__text {
  font-size: 0.5625rem;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 3.75rem , 1.7943285528rem  +  9.778357236vw , 8.4375rem )) {
  .stay-safe__container {
    padding-top: clamp( 3.75rem , 1.7943285528rem  +  9.778357236vw , 8.4375rem );
  }
}

@supports not (padding-top: clamp( 3.75rem , 1.7943285528rem  +  9.778357236vw , 8.4375rem )) {
  .stay-safe__container {
    padding-top: calc(3.75rem + 4.6875 * (100vw - 20rem) / 47.9375);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.7790091265rem  +  8.6049543677vw , 6.625rem )) {
  .stay-safe__container {
    padding-bottom: clamp( 2.5rem , 0.7790091265rem  +  8.6049543677vw , 6.625rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.7790091265rem  +  8.6049543677vw , 6.625rem )) {
  .stay-safe__container {
    padding-bottom: calc(2.5rem + 4.125 * (100vw - 20rem) / 47.9375);
  }
}

.stay-safe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stay-safe__decor {
  position: relative;
}

.stay-safe__item {
  background: #EC5863;
  border-radius: 30px;
  position: absolute;
}

.stay-safe__item--1 {
  width: 9.1875rem;
  height: 9.1875rem;
  top: -23px;
  left: -39px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0) rotate(-180deg);
      -ms-transform: translate(-100%, 0) rotate(-180deg);
          transform: translate(-100%, 0) rotate(-180deg);
}

.stay-safe__item--1._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(0);
      -ms-transform: translate(0, 0) rotate(0);
          transform: translate(0, 0) rotate(0);
}

.stay-safe__item--2 {
  width: 4.8125rem;
  height: 4.8125rem;
  bottom: 6px;
  left: -10px;
  opacity: 0;
  -webkit-transform: translate(-100%, 76%) rotate(-40deg);
      -ms-transform: translate(-100%, 76%) rotate(-40deg);
          transform: translate(-100%, 76%) rotate(-40deg);
}

.stay-safe__item--2._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(0);
      -ms-transform: translate(0, 0) rotate(0);
          transform: translate(0, 0) rotate(0);
}

.stay-safe__item--3 {
  width: 4.8125rem;
  height: 4.8125rem;
  bottom: 119px;
  right: -5px;
  opacity: 0;
  -webkit-transform: translate(100%, -76%) rotate(98deg);
      -ms-transform: translate(100%, -76%) rotate(98deg);
          transform: translate(100%, -76%) rotate(98deg);
}

.stay-safe__item--3._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(0);
      -ms-transform: translate(0, 0) rotate(0);
          transform: translate(0, 0) rotate(0);
}

.stay-safe__image {
  position: relative;
  display: inline-block;
}

.stay-safe__image::after {
  content: "";
  position: absolute;
  width: 12.875rem;
  height: 1.6875rem;
  bottom: 20px;
  z-index: -1;
  left: 42px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  -webkit-filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
  border-radius: 16px;
}

.stay-safe__image img {
  position: relative;
  z-index: 2;
}

.stats {
  background: #FAFBFD;
}

@supports (padding-top: clamp( 2.5rem , 0.8572359844rem  +  8.2138200782vw , 6.4375rem )) {
  .stats {
    padding-top: clamp( 2.5rem , 0.8572359844rem  +  8.2138200782vw , 6.4375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.8572359844rem  +  8.2138200782vw , 6.4375rem )) {
  .stats {
    padding-top: calc(2.5rem + 3.9375 * (100vw - 20rem) / 47.9375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem )) {
  .stats {
    padding-bottom: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5712190352rem  +  6.518904824vw , 5rem )) {
  .stats {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.9375);
  }
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__body {
  position: relative;
}

.stats__items {
  padding: 1.75rem 5rem;
  background: #fff;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.4408409387rem  +  7.1707953064vw , 5.3125rem )) or (column-gap: clamp( 1.875rem , 0.4408409387rem  +  7.1707953064vw , 5.3125rem ))) {
  .stats__items {
    -webkit-column-gap: clamp( 1.875rem , 0.4408409387rem  +  7.1707953064vw , 5.3125rem );
       -moz-column-gap: clamp( 1.875rem , 0.4408409387rem  +  7.1707953064vw , 5.3125rem );
            column-gap: clamp( 1.875rem , 0.4408409387rem  +  7.1707953064vw , 5.3125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.4408409387rem  +  7.1707953064vw , 5.3125rem )) or (column-gap: clamp( 1.875rem , 0.4408409387rem  +  7.1707953064vw , 5.3125rem ))) {
  .stats__items {
    -webkit-column-gap: calc(1.875rem + 3.4375 * (100vw - 20rem) / 47.9375);
       -moz-column-gap: calc(1.875rem + 3.4375 * (100vw - 20rem) / 47.9375);
            column-gap: calc(1.875rem + 3.4375 * (100vw - 20rem) / 47.9375);
  }
}

.stats__item {
  text-align: center;
}

.stats__data {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1944444444;
  letter-spacing: 0.14em;
  color: #EC5863;
}

.stats__text {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}

.stats__decor {
  position: absolute;
  background: #EC5863;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.stats__decor--1 {
  width: 4.0625rem;
  height: 4.0625rem;
  bottom: -21px;
  left: -17px;
  border-radius: 16px;
  opacity: 0;
  -webkit-transform: scale(0) rotate(-60deg);
      -ms-transform: scale(0) rotate(-60deg);
          transform: scale(0) rotate(-60deg);
}

.stats__decor--1._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: scale(1) rotate(-30deg);
      -ms-transform: scale(1) rotate(-30deg);
          transform: scale(1) rotate(-30deg);
}

.stats__decor--2 {
  width: 6.0625rem;
  height: 6.0625rem;
  left: 220px;
  top: -41px;
  opacity: 0;
  -webkit-transform: scale(0) rotate(200deg);
      -ms-transform: scale(0) rotate(200deg);
          transform: scale(0) rotate(200deg);
}

.stats__decor--2._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: scale(1) rotate(105deg);
      -ms-transform: scale(1) rotate(105deg);
          transform: scale(1) rotate(105deg);
}

.stats__decor--3 {
  width: 7.9375rem;
  height: 7.9375rem;
  right: -49px;
  bottom: -9px;
  opacity: 0;
  -webkit-transform: scale(0) rotate(-200deg);
      -ms-transform: scale(0) rotate(-200deg);
          transform: scale(0) rotate(-200deg);
}

.stats__decor--3._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: scale(1) rotate(-30deg);
      -ms-transform: scale(1) rotate(-30deg);
          transform: scale(1) rotate(-30deg);
}

.experts {
  background: #FAFBFD;
}

@supports (padding-top: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem )) {
  .experts {
    padding-top: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4569752282rem  +  5.2151238592vw , 5rem )) {
  .experts {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.9375);
  }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.075374837rem  +  10.5606258149vw , 7.25rem )) {
  .experts {
    padding-bottom: clamp( 2.1875rem , 0.075374837rem  +  10.5606258149vw , 7.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.075374837rem  +  10.5606258149vw , 7.25rem )) {
  .experts {
    padding-bottom: calc(2.1875rem + 5.0625 * (100vw - 20rem) / 47.9375);
  }
}

.experts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experts__video {
  position: relative;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}

.experts__video iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@supports (padding-top: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem )) {
  .services {
    padding-top: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem )) {
  .services {
    padding-top: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 47.9375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7015971317rem  +  5.8670143416vw , 4.6875rem )) {
  .services {
    padding-bottom: clamp( 1.875rem , 0.7015971317rem  +  5.8670143416vw , 4.6875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7015971317rem  +  5.8670143416vw , 4.6875rem )) {
  .services {
    padding-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 47.9375);
  }
}

.services__container {
  text-align: center;
}

@supports (margin-bottom: clamp( 1.875rem , 0.7798239896rem  +  5.4758800522vw , 4.5rem )) {
  .services__content:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.7798239896rem  +  5.4758800522vw , 4.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7798239896rem  +  5.4758800522vw , 4.5rem )) {
  .services__content:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.625 * (100vw - 20rem) / 47.9375);
  }
}

.services__body {
  row-gap: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__items {
  padding: 0px 2.25rem;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.services__column {
  height: 100%;
  padding: 2.25rem 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.services__icon {
  width: 5.5rem;
  height: 4.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@supports (margin-bottom: clamp( 1.875rem , 1.1448826597rem  +  3.6505867014vw , 3.625rem )) {
  .services__icon:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.1448826597rem  +  3.6505867014vw , 3.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1448826597rem  +  3.6505867014vw , 3.625rem )) {
  .services__icon:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.75 * (100vw - 20rem) / 47.9375);
  }
}

.services__icon img {
  max-width: 100%;
}

.services__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.services__text {
  line-height: 138.5%;
  letter-spacing: 0.08em;
}

.services__item {
  position: absolute;
  background: #EC5863;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.services__item--1 {
  width: 4.0625rem;
  height: 4.0625rem;
  left: 15px;
  bottom: -31px;
  border-radius: 16px;
  opacity: 0;
  -webkit-transform: translate(100%, -100%) rotate(200deg);
      -ms-transform: translate(100%, -100%) rotate(200deg);
          transform: translate(100%, -100%) rotate(200deg);
}

.services__item--1._active {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(-30deg);
      -ms-transform: translate(0, 0) rotate(-30deg);
          transform: translate(0, 0) rotate(-30deg);
}

.services__item--2 {
  width: 6.0625rem;
  height: 6.0625rem;
  right: -14px;
  top: 44px;
  opacity: 0;
  -webkit-transform: translate(-100%, 100%) rotate(-150deg);
      -ms-transform: translate(-100%, 100%) rotate(-150deg);
          transform: translate(-100%, 100%) rotate(-150deg);
}

.services__item--2._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(105deg);
      -ms-transform: translate(0, 0) rotate(105deg);
          transform: translate(0, 0) rotate(105deg);
}

.services__item--3 {
  width: 7.9375rem;
  height: 7.9375rem;
  right: -53px;
  bottom: -23px;
  opacity: 0;
  -webkit-transform: translate(0, -100%) rotate(40deg);
      -ms-transform: translate(0, -100%) rotate(40deg);
          transform: translate(0, -100%) rotate(40deg);
}

.services__item--3._active {
  -webkit-transition: all 1s ease 0.3s;
  -o-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(-30deg);
      -ms-transform: translate(0, 0) rotate(-30deg);
          transform: translate(0, 0) rotate(-30deg);
}

.services__item--4 {
  width: 4.0625rem;
  height: 4.0625rem;
  right: 11px;
  top: -30px;
  border-radius: 16px;
  opacity: 0;
  -webkit-transform: translate(-150%, 100%) rotate(-160deg);
      -ms-transform: translate(-150%, 100%) rotate(-160deg);
          transform: translate(-150%, 100%) rotate(-160deg);
}

.services__item--4._active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(-30deg);
      -ms-transform: translate(0, 0) rotate(-30deg);
          transform: translate(0, 0) rotate(-30deg);
}

@media (min-width: 47.99875em) {
  .get-started__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .get-started__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 52%;
            flex: 0 1 52%;
  }

  .get-started__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    max-width: 25.625rem;
    padding: 0px 1.25rem 0px 0.9375rem;
  }

  .video {
    padding-left: 0.9375rem;
  }

@supports (padding-top: clamp( 0.625rem , -1.2002933507rem  +  9.1264667536vw , 5rem )) {
    .video {
      padding-top: clamp( 0.625rem , -1.2002933507rem  +  9.1264667536vw , 5rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -1.2002933507rem  +  9.1264667536vw , 5rem )) {
    .video {
      padding-top: calc(0.625rem + 4.375 * (100vw - 20rem) / 47.9375);
    }
}

  .stay-safe__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

@supports (margin-left: clamp( -1.25rem , -4.248696219rem  +  14.9934810952vw , 5.9375rem )) {
    .stay-safe__decor {
      margin-left: clamp( -1.25rem , -4.248696219rem  +  14.9934810952vw , 5.9375rem );
    }
}

@supports not (margin-left: clamp( -1.25rem , -4.248696219rem  +  14.9934810952vw , 5.9375rem )) {
    .stay-safe__decor {
      margin-left: calc(-1.25rem + 7.1875 * (100vw - 20rem) / 47.9375);
    }
}

  .stay-safe__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 23.125rem;
  }

  .stats__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .experts__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .experts__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 21.875rem;
  }

@supports (margin-left: clamp( -1.25rem , -2.8145371578rem  +  7.8226857888vw , 2.5rem )) {
    .experts__content {
      margin-left: clamp( -1.25rem , -2.8145371578rem  +  7.8226857888vw , 2.5rem );
    }
}

@supports not (margin-left: clamp( -1.25rem , -2.8145371578rem  +  7.8226857888vw , 2.5rem )) {
    .experts__content {
      margin-left: calc(-1.25rem + 3.75 * (100vw - 20rem) / 47.9375);
    }
}

  .experts__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.3%;
            flex: 0 0 49.3%;
    padding: 0px 0px 26.9% 0px;
  }
}

@media (max-width: 370px) {
  .header__logo {
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5625rem;
            flex: 0 0 2.5625rem;
  }
}

@media (max-width: 61.99875em) {
  .services__items {
    padding: 0px 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    background: #EC5863;
    padding: 0 0.9375rem 1.875rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 10;
  }

@supports (padding-top: clamp( 7.5rem , 3.8494132986rem  +  18.2529335072vw , 16.25rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 3.8494132986rem  +  18.2529335072vw , 16.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 3.8494132986rem  +  18.2529335072vw , 16.25rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 8.75 * (100vw - 20rem) / 47.9375);
    }
}

  ._header-scroll .menu__body {
    min-height: 7.5rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    background: #fff896;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 15;
  }

@supports (min-height: clamp( 4.375rem , 3.2015971317rem  +  5.8670143416vw , 7.1875rem )) {
    .menu__body::before {
      min-height: clamp( 4.375rem , 3.2015971317rem  +  5.8670143416vw , 7.1875rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.2015971317rem  +  5.8670143416vw , 7.1875rem )) {
    .menu__body::before {
      min-height: calc(4.375rem + 2.8125 * (100vw - 20rem) / 47.9375);
    }
}

  ._header-scroll .menu__body::before {
    min-height: 4.375rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    left: 0;
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }

  .menu__link {
    font-size: 1.5625rem;
    color: #ffffff;
    margin: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    margin-left: 0.9375rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .get-started__container::before {
    opacity: 0.7;
  }

  .get-started__container {
    text-align: center;
    row-gap: 1.5625rem;
  }

  .stay-safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 3.4375rem;
  }

  .stay-safe__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stay-safe__content {
    text-align: center;
  }

  .stats__items {
    padding-top: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.25rem;
  }

@supports (padding-right: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem )) {
    .stats__items {
      padding-right: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem );
    }
}

@supports not (padding-right: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem )) {
    .stats__items {
      padding-right: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 47.9375);
    }
}

@supports (padding-left: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem )) {
    .stats__items {
      padding-left: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem );
    }
}

@supports not (padding-left: clamp( 2.1875rem , 1.0140971317rem  +  5.8670143416vw , 5rem )) {
    .stats__items {
      padding-left: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 47.9375);
    }
}

  .stats__decor--2 {
    left: 30%;
    top: -35px;
  }

  .experts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 1.875rem;
    text-align: center;
  }

  .experts__video {
    padding: 0px 0px 54.51% 0px;
  }

  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__items {
    padding: 0;
  }

  .services__item--3 {
    right: -52px;
    bottom: -46px;
    -webkit-transform: translate(120%, -100%) rotate(79deg);
        -ms-transform: translate(120%, -100%) rotate(79deg);
            transform: translate(120%, -100%) rotate(79deg);
  }

  .services__item--3._active {
    -webkit-transition: all 0.8s ease 0.3s;
    -o-transition: all 0.8s ease 0.3s;
    transition: all 0.8s ease 0.3s;
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-30deg);
        -ms-transform: translate(0, 0) rotate(-30deg);
            transform: translate(0, 0) rotate(-30deg);
  }

  .services__item--4 {
    left: -10px;
    top: -32px;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}